
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Disable horizontal scrolling */
}

.newscontainer {
    color: black;
    
}

